@model BlogCore.Models.ViewModels.ArticuloVM;
@{
    ViewData["Title"] = "Crear Articulos";
}
<br />
<h3 class="text-center"> Crear un articulo</h3>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.Nombre" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingrese el nombre" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.Descripcion" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Descripcion" class="form-control" placeholder="Ingrese la descripcion" />
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                </div>
            </div>
            
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label for="Categoría">Categoría</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias, "Seleccione una categoria", new { @class = "form-control" })
                    <span asp-validation-for="Articulo.CategoriaId" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.UrlImagen"></label>
                </div>
                <div class="col-8">
                    <input  type="file" class="form-control" name="archivos" id="subidaArchivo"/>
                    <span asp-validation-for="Articulo.UrlImagen" class="text-danger"></span>
                </div>
            </div>


            <br />
            <div class="from-group row">
                <div class="col-12">
                    
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control">Crear Artículo</button>
                        </div>
                        &nbsp;
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Volver a listado de articulos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

